@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium',cursive;
}

body{
    text-align: center;
    background: linear-gradient(to bottom, rgb(185, 145, 58), #fff);
    min-height: 10vh;
}

main{
    display: inline-block;
    margin-top: 2%;
    padding: 15px;
    position: relative; /*os itesn vao se adaptar dentro de main*/ 
}

.pokedex{
    width: 100%;
    max-width: 425px;
}

.pokemon_image{
    position: absolute;
    bottom: 55%;
    left: 50%;
    transform: translate(-63%,20%); /*Tamanho da imagem*/
    height: 18%;
}

.pokemon-data{
    position: absolute;
    font-weight: 600;
    color: #aaa;
    top: 56.5%;
    right: 27%;

    font-size: clamp(10px, 5vw, 25px); /*min, vw, max*/
}

.pokemon-name{
    color:rgb(31, 29, 29);
    text-transform: capitalize;
}

.form{
    position: absolute;
    background-color: red;
    width: 65%;
    top: 65%;
    left: 13.5%;
}

.input-search{
    width: 100%;
    padding: 4%;
    outline: none;
    border: 2px solid rgb(31, 29, 29);
    border-radius: 5px;
    font-weight: 600;
    color: rgb(31, 29, 29);
    font-size: clamp(8px, 5vw, 1rem);
    box-shadow: -3px 4px 0 #888, -5px 7px 0 #333;
}